# ignore these files and folders


Sublime/

# ignore all vivado folders
*/vivado/

# ignore all vivado folders
*/scripts/

# ignore all vivado folders
*/ip/

# ignore all vivado folders
*/sim/*
!*/sim/run_simulation.do