# ignore these files and folders
.venv

Sublime/

# ignore all vivado folders
*/vivado/

# ignore all script folders
*/scripts/

# ignore all ip folders
*/ip/

# ignore all sim files except run_simulation.do and wave.do
*/sim/*
!*/sim/run_simulation.do
!*/sim/wave.do

# ignore svunit outputs
*/tb/sim/*
